# Xcode
*.xcuserstate
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# AppStore
*.mobileprovision
*.p12

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
*.swp
*.swo
*~
.idea/
*.iml

# Environment
.env
.env.local
